body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}





/* Challenge Section */
.challenges {
    background-color: #44B87D !important;
    border-radius: 16px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 600px;
}

h3 {
    color: white;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0;
}

/* 3 Dots Button */
.dropdown.three-dots-dropdown {
    justify-content: end;
    align-items: end;
    text-align: end;
}

.three-dots-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f1f1f1 !important;
    color: #000 !important;
}

.dropdown-menu-end {
    border-radius: 10px;
    min-width: 120px;
    z-index: 1;
}

.status-menu .delete-btn {
    text-align: center;
    color: #D32626;
    font-weight: 500;
    padding: 5px 0;
    cursor: pointer;
}

.status-menu .delete-btn:hover {
    text-decoration: underline;
}

.status-menu .dropdown-header {
    font-weight: 600;
    text-align: center;
    font-size: 0.9rem;
    padding: 5px 10px 8px;
    color: #333;
}

.status-menu .dropdown-item:hover {
    background-color: #FFC727 !important;
}

.status-menu .hover.active {
    background-color: #FFC727;
}

/* Challenge Section */
.challengeSection {
    overflow-y: auto;
}
