@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #F0F1F6;
    
}

.navigationBarTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.mainContainer {
    background-color: #F0F1F6;
}

.scrollable-container{
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.categoryPic{
    border: none;
    max-height: 70px;
   
}

.categoryPic.selected-category{
    border-color: #F6D25B !important;
    border-style: solid;
    border-radius: 40px;
}


.categoryName{
    font-size: 13px;
    color: #44B87D;
}

.inputHover{
    background-color: #44B87D;
    max-height: 400px;

    border-radius: 22px 22px 0px 0px;
}

.checkBox{
    accent-color: #F6D25B;
    height: 20px;
    width: 20px;
}
.checkBoxLabel{
    color: #F0F1F6;
    font-weight: 700;
    font-size: 20px;
}

.label{
    color: #F3F3F3;
    font-size: 16px;
}

.btnSave{
    background-color: #F6D25B !important;
    border-radius: 20px;
    min-width: 163px;
}
