@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.mainContainer {
    background-color: #F3F3F3;
    min-height: 100%;
}

.categoryPic{
    width: 70px;
    height: 100%;
   
}

.categoryName{
    font-size: 13px;
    color: #44B87D;
}

.inputHover{
    height: 430px;
    background-color: #77D09A;
}