@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: #44B87D;

}


.navigationBarTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.mainContainer {
    background-color: #F3F3F3;
    height: 90dvh;
}

.btnSave{
    background-color: #F6D25B !important;
    border-radius: 20px;
    min-width: 163px;
}

.forms{
    border-color: #F6D25B;
}
