@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    background-color:  #44B87D !important;
}

.mainContainer {
    background-color:  #44B87D;

}

.title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #f3f3f3;
}

.monthlySpendingContainer{
    border-radius: 20px;
    background-color: #f3f3f3;
}

.expensesChart{
    border-radius: 20px;
    background-color: #f3f3f3;
}

.tableContainer{
    border-radius: 20px;
    background-color: #f3f3f3;
}
.analysisRecommendations{
    border-radius: 20px;
    background-color: #f3f3f3;
}