@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    background-color: #44B87D !important;
}

.mainContainer {
    background-color: #44B87D;

}

.scrollableContainer {
    height: 80dvh;
    overflow-y: auto;
    overflow-x: hidden;

}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #f3f3f3;
}

.monthlySpendingContainer {
    border-radius: 20px;
    background-color: #f3f3f3;
}

.previousBtn, .nextBtn{
    max-height: 30px !important;
}

.resetBtn {
    background-color: #F6D25B !important;
    border-radius: 20px;
    color: white !important;
    
}


.expensesChart {
    border-radius: 20px;
    background-color: #f3f3f3;
}
.visualTitle{
    color:#44B87D;
    font-weight: 700;
  
}
.tableContainer {
    border-radius: 20px;
    background-color: #f3f3f3;
}

.analysisRecommendations {
    border-radius: 20px;
    background-color: #f3f3f3;
}