body {
    font-family: "Roboto", sans-serif;
    background-color: #44B87D !important;
}

.mainHeader h2 {
    position: sticky;
    background-color: #44B87D;
    padding: 20px 30px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: bold;

}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0px 0 15px 0;
}

.filter-buttons button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 16px;
    color: #44B87D;
    font-weight: 700;
    font-family: "Roboto", sans-serif;

}

.scrollable-container {
    height: 70dvh;
    overflow-y: auto;
    padding-bottom: 20px;
}

.entry {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 85%;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #FFC107;
}

.entry .time {
    color: #383535 !important;
    font-size: 12px;
    align-self: flex-end;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif !important;

}

.entry .content {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: -25px;
    min-height: 50px;
    font-family: "Roboto", sans-serif;

}

.entry .icon img {
    width: 60px;
    height: 60px;
}

.entry .text {
    font-size: 16px;
    color: #000000;
}

.entry .amount {
    margin-left: auto;
    position: relative;
    top: 10px;
}

/* Modal */
.modal.modal-bottom-sheet .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
}

.modal.modal-bottom-sheet.show .modal-dialog {
    transform: translateY(0);
}

.modal-bottom-sheet .modal-content {
    border-radius: 20px 20px 0 0;
    border: none;
    padding: 15px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.modal-backdrop.show {
    opacity: 0.3;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #44B87D;
    color: #fff;
}

.modal.modal-bottom-sheet.show .modal-dialog {
    transform: translateY(0);
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}