  * {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      box-sizing: border-box;
    }

    .summary-card {
      background-color: white;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 93%;
    }

    .vertical-divider {
      width: 1.5px;
      height: 60px;
      background-color: #BCBABA;
    }

    .time {
      color: #BCBABA !important;
      font-weight: normal !important;
      font-size: 14px;
    }

    .time b {
      color: #BCBABA !important;
      font-weight: normal !important;
      font-size: 14px;
    }

    .notes {
      color: #BCBABA !important;
      font-weight: normal !important;
      font-size: 14px;
    }

    .price {
      color: #44B87D !important;

    }

    .today-text {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
    }

    .categoryImgContainer {
      margin-left: -10px;
    }

    .recommendation-card,
    .challenge-card {
      background-color: #F0F1F6;
      border-radius: 20px;
      width: 100%;
    }

    .recommendation-img {
      width: 300px;
      height: 85px;
      border-radius: 20px;
      object-fit: cover;
    }

    /* Bottom Tab Bar */
    .tab-bar {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: auto;
      background-color: white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      z-index: 1000;
    }

    .tab-item {
      flex: 1;
      padding-top: 15px;
      text-align: center;
    }

    .tab-icon {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }

    .tab-label {
      font-size: 16px;
      font-weight: bold;
    }

    #plusBtn {
      position: fixed;
      bottom: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: #F6D25B;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      z-index: 1000;
    }

    #plusBtn:hover {
      background: #3aa76e;
    }

    .iePriceContainer {
      min-width: 120px !important;
    }

    .today-text,
    .recommendation-card h2,
    .challenge-card h2 {
      font-family: "Poppins", sans-serif !important;
      font-weight: 600;
    }

    .challenge-card h2.fw-semibold {
      font-family: "Poppins", sans-serif !important;
    }