@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    background-color: #44B87D !important;

}

.mainContainer {
    background-color: #44B87D;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #F3F3F3;
}

.allButton {
    border-radius: 20px 0px 0px 20px;
}

.incomeButton {
    border-radius: 0px;
}

.expenseButton {
    border-radius: 0px 20px 20px 0px;
}

.sortButton {
    border-color: #F3F3F3 !important;
    border-style: solid;
    color: #F3F3F3 !important;
    min-width: 80px;
}

.sortButton.selected {
    background-color: #F3F3F3 !important;
    color: #F6D25B !important;
}

.ieContainer {
    border-radius: 20px;
    background-color: #F3F3F3;
    height: 100px;
}

.categoryImgContainer {
    text-align: center;
}

.notes {
    color: #B5C0BB;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.scrollable-container {
    height: 65dvh;
    overflow-y: auto;
    overflow-x: hidden;


}

.iePriceContainer {
    text-align: end;
    max-width: 100px;
}

.price {
    color: #F6D25B;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.time {
    color: #44B87D;
}

.addIncomebtn {
    border-radius: 20px;
    background-color: #44B87D !important;
    color: #F3F3F3 !important;

}

.addExpensebtn {
    border-radius: 20px;
    background-color: #F6D25B !important;
    color: black !important;
}