.bgContainer{
    min-height: 80dvh;
    background-image: url("../img/landing&ads/centerImg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    font-family: 'Roboto', sans-serif;
    /*Roboto*/
    font-size: 16px;
    color: #ffffff;
 

}
.goBtn{
    background-color: #F6D25B !important;
    color: black !important;
    min-width: 125px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
}
