
body {
  font-family: 'Poppins', sans-serif;
  background: #44B87D;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html, body {
  height: 100%;
  overflow: hidden; 
}

.profile-container {
  padding-top: 20px; 
  padding-bottom: 20px;
  min-height: auto;
}

.profile-card {
  background: #faf9f6;
  border-radius: 20px;
  padding: 20px 15px; 
  max-width: 450px;
  width: 95%;
  margin: 0 auto 10px auto;
  border: 2px solid #F6D25B;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.profile-name {
  font-weight: 700;
  color: #2c2c2c;
  margin-bottom: 2px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2px;
}

.profile-username {
  font-weight: 700;
  margin-bottom: 2px;
}

.profile-section {
  margin-bottom: 2px;
}

.profile-label {
  font-weight: 700;
  color: #000;
  margin-bottom: 2px;
}

.profile-answer {
  font-weight: 500;
  margin-bottom: 2px;
}

.badge-icon {
  width: 45px;
  height: 45px;
  overflow: hidden; 
}

.badge-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* =======================
   Buttons
======================= */
.edit-btn {
  background: #F6D25B;
  color: black;
  font-weight: 700;
  border-radius: 50px;
  padding: 10px 20px;
  width: 250px;
  max-width: 90%;
  transition: 0.3s;
}

.edit-btn:hover {
  background: #f5c32d;
}

.logout-btn {
  background: #E63946;
  color: #fff;
  font-weight: 700;
  border-radius: 50px;
  padding: 10px 20px;
  width: 250px;
  max-width: 100%;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #e04343;
}

.button-wrapper {
  margin-bottom: 30px;
}


@media (max-width: 992px) {
  .profile-card {
    max-width: 90%;
    padding: 25px 15px;
  }

  .profile-img {
    width: 90px;
    height: 90px;
  }

  .edit-btn,
  .logout-btn {
    width: 220px;
  }
}
@media (max-width: 768px) {
  .profile-card {
    max-width: 95%;
    padding: 10px;
  }

  .profile-img {
    width: 85px;
    height: 85px;
  }

  .edit-btn,
  .logout-btn {
    width: 200px;
  }

  .profile-container {
    padding-top: 30px;
  }
}

@media screen and (device-width: 360px) and (device-height: 740px),
       screen and (max-width: 480px) {
  .profile-card {
    padding: 5px 3px;
    max-width: 310px;
  }

  .profile-img {
    width: 80px;
    height: 80px;
  }

  .profile-name {
    font-size: 1rem;
  }
  .profile-username {
    font-size: 1rem;
  }

  .profile-label,
  .profile-answer {
    font-size: 1rem;
  }

  .edit-btn,
  .logout-btn {
    width: 180px;
    padding: 8px 18px;
    font-size: 1rem;
  }
}
