/* General styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #44B87D;
  color: #333;
  line-height: 1.6;
  justify-content: center;
}

header {
  position: fixed;
  top: 75px; 
  left: 0;
  width: 100%;
  background: #44B87D;
  text-align: center;
  color: white;
  padding: 20px 10px;
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
}

header h1 {
  font-size: 2.2em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

header p.tagline {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #fff;
}

.content-scroll {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 50px;
}


.main-content {
  margin-top: 250px; 
  max-width: 1200px;
  padding: 10px;
  width: 100%;
}


.section:hover {
  transform: translateY(-5px);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  border-radius: 8px;
  margin-bottom: 20px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-caption {
  text-align: center;
  font-size: 1em;
  color: #44B87D;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Resource cards */
.resources {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.resource-card {
  background: #f0f1f5;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: background 0.3s;
}

.resource-card:hover {
  background: #e0f7fa;
}

.resource-card a {
  color: #44B87D;
  text-decoration: none;
  font-weight: bold;
}

.resource-card a:hover {
  text-decoration: underline;
}

.resource-card p {
  margin: 10px 0 0;
  color: #666;
}

@media (max-width: 992px) {
  header h1 {
    font-size: 1.9em;
  }
  header p.tagline {
    font-size: 1.1em;
  }
  .section {
    padding: 25px;
  }
   .main-content {
    margin-top: 160px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  header {
    top: 70px;
    padding: 15px 8px;
  }

  header h1 {
    font-size: 1.6em;
  }

  header p.tagline {
    font-size: 0.95em;
  }

  .main-content {
    margin-top: 160px;
    padding: 15px;
  }

  .section {
    padding: 20px;
  }

  .video-caption {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.4em;
  }

  header p.tagline {
    font-size: 0.85em;
  }

  .main-content {
    margin-top: 160px;
    padding: 10px;
  }

  .section {
    padding: 15px;
  }

  .resource-card {
    padding: 15px;
  }

  .resource-card p {
    font-size: 0.9em;
  }
}
