    * {
    font-family: 'Roboto', sans-serif;
    }

    body {
      background-color: #f3f4f6;
    }

    .bg-green-custom {
      background-color: #44B87D;
    }

    .bg-yellow-custom {
      background-color: #F6D25B;
    }

    .hover-bg-green:hover {
      background-color: #3aa76e !important;
    }
    #sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 250px;
      background-color: white;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      z-index: 1050;
    }

    #sidebar.show {
      transform: translateX(0%) !important;
    }

    button:focus {
       outline: none !important;
       box-shadow: none !important;
    }

    