@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    background-color: #77D09A !important;
}

.mainContainer {
    background-color: #77D09A;
    height: 90dvh;
}

.detailsContainer{
    background-color: #f3f3f3;
    height: 550px;
    border-radius: 20px;
}